<div class='creator' ng-init="fetching=false; fetchFail=false">
  <form>
    <input class="text" type="text" name="url" ng-model='linkText'>
    <input type="submit" value="Shorten" ng-click='shortenUrl()'>
  </form>
  <img class="spinner" ng-class="{hidden: !fetching}" src="/spiffygif_46x46.gif">
  <div class="message error" ng-class="{hidden: !fetchFail}">Please Enter a valid URL</div>
</div>

<div link-view ng-model="link"></div>

<!-- Shortly.LinkCreateView = Backbone.View.extend({

    link.on('request', this.startSpinner, this);
    link.on('sync',    this.success,      this );
    link.on('error',   this.failure,      this );


  success: function(link){
    this.stopSpinner();
    var view = new Shortly.LinkView( {model: link} );
    this.$el.find('.message').append(view.render().$el.hide().fadeIn());
  },

  failure: function(){
    this.stopSpinner();
    this.$el.find('.message').html("Please enter a valid URL").addClass('error');
  },

  startSpinner: function(){
    this.$el.find('img').show();
    this.$el.find('form input[type=submit]').attr('disabled', "true");
    this.$el.find('.message').html("").removeClass('error');
  },

  stopSpinner: function(){
    this.$el.find('img').fadeOut('fast');
    this.$el.find('form input[type=submit]').attr('disabled', null);
    this.$el.find('.message').html("").removeClass('error');
  }

}); -->

